<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOPPatternsWpf.OOPPatternsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OOPPatternsWpf.OOPPatterns" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OOPPatternsWpf.OOPPatternsSettings>
            <setting name="Appearance" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WinAppearance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OSXAppearance" serializeAs="String">
                <value>2</value>
            </setting>
        </OOPPatternsWpf.OOPPatternsSettings>
        <OOPPatternsWpf.OOPPatterns>
            <setting name="Appearance" serializeAs="String">
                <value>Win</value>
            </setting>
        </OOPPatternsWpf.OOPPatterns>
    </userSettings>
</configuration>